# Node
node_modules/
npm-debug.log*
.pnpm-debug.log*

# Logs
logs
*.log
*.log.*

# Build
dist/
.next/
out/
coverage/
build/

# Env
.env
.env.local
.env.*.local

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Playwright / Jest
test-results/
playwright-report/
jest-stare/
*.lcov

# TypeScript
*.tsbuildinfo

# IDEs
.idea/
*.sublime-project
*.sublime-workspace
