# Node
node_modules/
dist/
.env
.env.local
*.log

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# Jest coverage
coverage/

# Playwright
test-results/
playwright-report/

# Mac/Linux/Windows
.DS_Store
Thumbs.db

*.js
*.map
